body {
  margin: 0;
  padding: 0;
  min-width: 700px;
  height: 2000px;
}
.container {
  /* min-width: 1000px; */
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  height: 2000px;
}
.left {
  background-color: red;
  border: 1px solid black;
  width: 200px;
  height: 100%;
  min-width: 200px;
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  flex-shrink: 0;
}
.center {
  display: flex;
  position: relative;
  width: 1500px;
  min-width: 600px;
  max-width: 1500px;
  background-color: blue;
  border: 1px solid black;
  height: 100%;
}
.right {
  position: absolute;
  width: 300px;
  background-color: rgb(0, 255, 0);
  border: 1px solid black;
  height: 100%;
  right: 0px;
  top: 0px;
  bottom: 0px;
  min-width: 200px;
  flex-shrink: 5;
}

@media screen and (max-width: 1210px) {
  .center {
    max-width: 1300px;
    min-width: 1100px;
    background-color: coral;
  }
  .left {
    position: fixed;
    flex-shrink: 10;
  }

  .right {
    position: absolute;
    right: 0px;
  }
}
@media screen and (max-width: 720px) {
  .right {
    position: fixed;
    right: -200px;
  }
}
