body {
  margin: 0;
  padding: 0;
  height: 2000px;
  min-width: 702px;
  width: 100vw;
}
.nax {
  position: sticky;
  top: 0;
  background-color: darkred;
  display: flex;
  justify-content: space-between;
  width: 1400px;
}
.containerC {
  min-width: 200px;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  height: 100%;
  border: 1px solid teal;
}
.container {
  display: flex;
  justify-content: center;
  min-width: 200px;
  width: 1200px;
  max-width: 1500px;
  height: 100%;
  align-items: start;
}
.left {
  background-color: aqua;
  min-width: 200px;
  width: 200px;
  max-width: 400px;
  position: sticky;
  top: 0px;
  /*   left: 0px; */
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 2000px;
  width: 1200px;
  min-width: 200px;
  background-color: brown;
}
.right {
  width: 300px;
  height: 100%;
  background-color: deeppink;
  position: sticky;
  top: 0;
  min-width: 10px;
}
/* @media screen and (max-width: 1000px) {
  .right {
    position: relative;
    right: 0px;
  }
  body {
    overflow: hidden;
  }
}
 */
