body {
  margin: 0;
  padding: 0;
  height: 3000px;
  min-width: 102px;
  width: 100dvw;
}
.nax p {
  padding: 0;
  margin: 0;
}
.nax {
  background-color: white;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.skurps,
.created,
.collected {
  border-style: none;
  background-color: white;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 18px 20px;
}
.containerC {
  /*   min-width: 100px; */
  max-width: 100vw;
  display: flex;
  justify-content: center;
  height: 100%;
  border: 1px solid teal;
}
.container {
  display: flex;
  justify-content: center;
  min-width: 10px;
  width: 1200px;
  max-width: 1500px;
  height: 100%;
  align-items: start;
}
.left {
  min-width: 200px;
  width: 200px;
  max-width: 400px;
  position: sticky;
  top: 0px;
  border-right-color: rgba(0, 0, 0, 0.7);
  /*   left: 0px; */
}
.center {
  display: flex;
  flex-direction: column;
  height: 2000px;
  width: 1200px;
  min-width: 50px;
  border-right: 1px solid rgb(221, 221, 221);
  border-left: 1px solid rgb(221, 221, 221);
  z-index: 100;
}
.picCon {
  position: relative;
}
.right {
  width: 300px;
  height: 100%;
  position: sticky;
  top: 0;
  min-width: 10px;
  z-index: 102;
  background-color: white;
}
.profile {
  font-size: 1.8rem;
  display: flex;
  padding: 20px 15px;
}
.bigPic {
  min-width: 300px;
  max-width: 1200px;
  object-fit: cover;
  width: 100%;
  height: 270px;
}
.avatar {
  position: absolute;
  top: 190px;
  left: 30px;
}
.smallPic {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 70px;
  outline: 9px solid white;
}
.nikVerify {
  display: flex;
  justify-content: center;
  align-items: center;
}
.idFlw {
  margin-top: 80px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  justify-content: space-between;
}
.nik {
  margin-right: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}
.id {
  margin-left: 10px;
}
.dateIcon {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}
.verifyMark {
  width: 30px;
}
.joined {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.content {
  padding: 20px 20px;
  display: flex;
  border-top: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
}
.followers {
  border-right: 1px solid rgb(221, 221, 221);
  padding: 3px 15px 3px 20px;
}
.following {
  padding: 3px 15px 3px 20px;
}
.info {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
}
.info .smallPic {
  width: 50px;
  height: 50px;
}
.showContent {
  display: inline;
}
.dontShowContent {
  display: none;
}
.buttons {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.unFollow {
  color: rgb(68, 26, 83);
  border: 1px solid rgb(68, 26, 83);
  background-color: rgb(255, 255, 255);
  padding: 10px 25px;
  border-radius: 10px;
}
.flw {
  color: white;
  border-style: none;
  background-color: rgb(68, 26, 83);
  padding: 10px 35px;
  border-radius: 10px;
}
.notifShow {
  margin-left: 5px;
  margin-right: 5px;
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("assets/email(1).png");
  background-color: transparent;
  border-style: none;
}
.notifShow:hover {
  background-image: url("assets/email(3).png");
}
.messageShow {
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("assets/email(3).png");
  background-color: transparent;
  border-style: none;
}
.messageShow:hover {
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("assets/email(1).png");
}
.messageIcon {
  width: 40px;
  height: 40px;
}
.testimg {
  height: 300px;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("assets/email(1).png");
}
.testimg:hover {
  background: url("assets/email(3).png");
  background-size: contain;
  background-repeat: no-repeat;
}
.unflwConfirm {
  position: fixed;
  z-index: 3333;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
}
.unflwConfirmDontShow {
  display: none;
}
.background {
  background-color: rgba(224, 161, 161, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*   filter: blur(9px);
  -webkit-filter: blur(8px); */
}
.msgText {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: black;
  width: 240px;
  height: 240px;
  padding: 25px 20px;
  border-radius: 10px;
}
/* .msgText p {
  padding: 0;
  margin: 0;
} */
.butons {
  display: flex;
  flex-direction: column;
}
.unFollowbtn {
  margin-bottom: 7px;
}
.unfollowQ {
  display: flex;
}

/* @media screen and (max-width: 1000px) {
  .right {
    position: relative;
    right: 0px;
  }
  body {
    overflow: hidden;
  }
}
 */
