.left {
  position: sticky;
  top: 0;
  align-items: start;
  height: 100dvh;
}
.right {
  position: sticky;
  top: 0;
  align-items: start;
  height: 100dvh;
}
.container {
  display: flex;
}
.containerC {
  display: flex;
}
